<section class="hero is-fullheight">

  <!-- NAVBAR HERE -->

  <div class="hero-body has-background-light has-text-grey-darker	">
    <div class="container has-text-centered">
      <p class="is-size-1">
        UP || DOWN
      </p>
      <p class="">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
      <div class="mt-6">
        <button class="button is-dark mr-5 is-medium">Get Started</button>
        <button class="button is-outlined is-medium">About This Project</button>
      </div>
    </div>
  </div>

</section>
