<div class="hero min-h-screen hero-background">
  <div class="flex justify-center mt-56">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      <div>
        <h1 class="text-5xl font-bold drop-shadow-md">UP  DOWN</h1>
        <p class="py-6">Do you like to keep <strong class="underline">track</strong> of your favourite websites, or are you interested to find out if your the only one the Website doesnt wo? With up  down you can manage all of thoes things on one <strong class="underline">single platform</strong>, made to simplyify your website staus tracking.</p>
        <button class="btn">Get Started</button>         <button class="btn btn-outline ml-5">About</button>
      </div>
    </div>
  </div>
</div>
